altgraph==0.17.4
audioread==3.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
decorator==4.4.2
ffmpeg-python==0.2.0
fonttools==4.47.2
future==0.18.3
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.41.1
matplotlib==3.8.2
moviepy==1.0.3
msgpack==1.0.7
numba==0.58.1
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
pillow==10.2.0
platformdirs==4.1.0
pooch==1.8.0
proglog==0.1.10
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
PySimpleGUI==4.60.5
python-dateutil==2.8.2
requests==2.31.0
scikit-learn==1.4.0
scipy==1.12.0
shiboken6==6.6.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
threadpoolctl==3.2.0
tk==0.1.0
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.1.0
